.ceu {
  margin-top: 100px;
  display: flex;
  gap: 8px;
  justify-content: center;
  background-color: lightblue;
  height: 50vh;
  width: 100%;
  overflow: hidden;
}

.sol {
  height: 70px;
  aspect-ratio: 1 / 1;
  background-color: yellow;
  border-radius: 50%;
  animation: pingar 4s ease-in-out 0s infinite, cores 4s ease 0s infinite;
}

.sol:nth-child(2) {
  animation-delay: 0.3s;
}
.sol:nth-child(3) {
  animation-delay: 0.6s;
}
.sol:nth-child(4) {
  animation-delay: 0.9s;
}
.sol:nth-child(5) {
  animation-delay: 1.2s;
}

@keyframes pingar {
  0%,
  40%,
  100% {
    transform: translateY(calc(50vh - 70px));
  }
  70% {
    transform: translateY(25vh);
  }
}

@keyframes cores {
  0%,
  40%,
  100% {
    background-color: yellow;
  }
  70% {
    background-color: brown;
  }
}
